# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Poetry
.poetry/
poetry.lock

# IDE
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/
ops/
data/

# Secrets - 非常重要！
*.env
*.ini
credentials.json